body {
    font-size: 1rem;
}

.footer-links {
    list-style-type: none;
}

.footer-links li a {
    display: block;
    text-transform: uppercase;
    color: #656565;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

.footer-links a:hover {
    color: #fff;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}

img, pre, code {
    border-radius: 0.2rem;
}

img {
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 0.05rem 0, rgba(0, 0, 0, 0.24) 0 0.05rem 0.05rem 0;
}

.post-stub p {
    clear: both;
    padding-right:22px;
    margin-bottom:0;
}

.post-stub p:hover {
    padding-right:10px;
}

.post-stub-date:before {
    content: "";
}

.post-stub-date {
    float: right;
}

ul {
    margin: 1rem 2rem 2rem 1.4rem;
    list-style-position: outside;
}
